{{> head}}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Cápitan América</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque magnam id aut dolores sequi rerum placeat dolore quibusdam quod, iure, culpa consectetur recusandae, harum quidem laudantium porro voluptatum omnis optio?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/capitan-america.png" class="img-thumbnail">
    </div>
</div>

   {{> footer}}